.tag {
  padding: 1px 5px;
  border-radius: 9px;
  font-size: 13px;
  color: #424242;
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  white-space: nowrap;
}

.error {
  color: #ae1a1a;
  border: 1px solid #e59595;
  background-color: #fff2f2;
}
.success {
  color: #0f5f36;
  border: 1px solid #afc9bc;
  background-color: #dae5e0;
}
