.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}

.container {
  min-height: 200px;
  width: 100%;
  box-sizing: border-box;

  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  padding: 20px 10px;

  max-width: 450px;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #616161;
  padding-bottom: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding-bottom: 20px;
}

.btnContainer {
  text-align: center;
}
