.slick-slider{
  position: relative;
  overflow: hidden;
  height: 100vh;
 }

.slick-slider li {
  list-style-type: none;
}

.slick-list{
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.slick-slide > div,
.slick-track{
  height: 100%;
}
