.slick-slider{
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(rgb(255, 255, 255), rgb(12, 12, 78));
}

.slick-slider li {
  list-style-type: none;
}

.slick-list{
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.slick-slide > div,
.slick-track{
  height: 100%;
}
