.container {
  position: relative;
  background: linear-gradient(rgb(241 255 253), rgb(255 255 255));
  border-radius: 10px;

  flex: 0 0 calc(50% - 10px);
  max-width: 250px;
  height: 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

  &.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
  }

  &.danger {
    background: linear-gradient(rgb(255, 236, 236), rgb(210, 210, 251));
  }
  transition: background 0.5s ease;
}

.lock {
  pointer-events: none;
}

.delete,
.settings {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 23px;
  width: 23px;
  cursor: pointer;
}

.delete {
  transform: rotate(45deg);
}

.label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.name {
  color: #424242;
  font-size: 16px;
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  &.lock {
    opacity: 0.5;
    pointer-events: none;
  }
}
