@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 1000;
  opacity: 0;
  animation: 0.2s ease 0.4s 1 forwards appearance;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: #605e5c;
  text-shadow: 0 0 #a9a9a9;
}
