.container {
  box-sizing: border-box;
  padding: 15px;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 15px;
  font-weight: 500;
  color: #616161;
}

.btnContainer{
  text-align: center;
  padding-top: 20px;
}

.inputs{
  max-width: 600px;
  margin: 0 auto;
}