@font-face {
  font-family: 'inter';
  src: url('assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'inter';
  src: url('assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'inter';
  src: url('assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  font-family: inter;
  overflow: hidden;
  background: linear-gradient(rgb(255, 255, 255), rgb(12, 12, 78));
}

#root{
  height: 100vh;
}